$include-html-inline-list-divided-classes: $include-html-classes !default;
$inline-list-divider-color: lighten($body-font-color, 10);

@mixin inline-list-divided() {

  list-style: none;
  overflow: $inline-list-overflow;


  & > li {
    border-right: 1px solid $inline-list-divider-color;
    &:last-child { border-right: none;}
    margin: 0;
    padding: 0 .5em;
    list-style: none;
    float: $default-float;
    display: $inline-list-display;
    &>* { display: $inline-list-children-display; }
  }
}

@include exports("inline-list-divided") {
  @if $include-html-inline-list-divided-classes {
    ul.inline-list-divided {
      @include inline-list-divided();
    }
  }
}

