@import "foundation/components/inline-lists";

$include-html-inline-list-divided-classes: $include-html-classes !default;
$inline-list-divided-divider-color: lighten($body-font-color, 30);
$inline-list-divided-default-float-list-margin: $inline-list-default-float-list-margin / 2;
$inline-list-divided-default-float-margin: - $inline-list-default-float-list-margin;
$inline-list-divided-float: $default-float;

@mixin inline-list-divided() {

  @include inline-list();

  & > li {
    border-right: 1px solid $inline-list-divided-divider-color;
    margin-left: $inline-list-divided-default-float-list-margin;
    padding-right: $inline-list-divided-default-float-list-margin;
    &:last-child { border-right: none;}
  }
}

@include exports("inline-list-divided") {
  @if $include-html-inline-list-divided-classes {
    ul.inline-list-divided {
      @include inline-list-divided();
    }
  }
}

